@import "config"
@import "mixins"
@import "colors"
@import "fonts"

.body-contact-us
  background: $black url(../images/contact-us/header.jpg) no-repeat top right

  h1
    font-size: 50px
    max-width: 815px
    text-transform: none
    margin-top: 80px

#contact-us
  max-width: 575px
  color: $white
  padding: 60px 65px
  width: 100%
  align-items: flex-start
  background: $black url(../images/contact-us/popup-background.jpg) no-repeat
  display: flex
  gap: 10px
  flex-direction: column

  .f-button
    opacity: 1 !important

  svg
    stroke: none !important
    width: auto !important
    height: auto !important

  .title
    font-size: 50px
    text-transform: uppercase
    line-height: 120%

  input
    min-height: 50px
    font-size: 14px

  .description
    font-size: 14px
    opacity: .5
    margin-bottom: 20px
    line-height: 160%

  [data-fancybox-close]
    right: 20px
    top: 20px
    background: transparent

  button[type="submit"]
    max-width: 135px
    width: 100%
    justify-content: center
    margin-top: 30px

  .row
    width: 100%

.contacts-gallery
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 30px

  .image
    @extend .border-radius-10
    overflow: hidden

    &:hover

      img
        transform: scale(1.04)

  img
    max-width: 100%
    height: auto
    display: block
    transition: transform 400ms ease-in-out

#map
  height: 450px
  width: 100%
  display: block
  margin-top: 50px
  overflow: hidden
  @extend .border-radius-10

.contacts-time
  padding: 30px 0
  color: $white
  display: inline-flex
  font-size: 16px
  margin-bottom: 40px
  gap: 45px
  border-top: 1px solid rgba(255, 255, 255, 0.2)
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  .time
    display: grid
    gap: 6px

  .day
    opacity: .5

.contacts-info
  display: flex
  margin-top: 70px
  align-items: center
  color: $white
  gap: 50px
  margin-bottom: 35px

  button
    max-width: 207px
    width: 100%
    justify-content: center

  .phone
    font-size: 40px
    line-height: 120%

  .email
    font-size: 20px
    line-height: 120%

  a
    text-decoration: none
    color: $white
    display: inline-flex
    transition: opacity 200ms ease-in-out

    &:hover
      opacity: .8