@import "font-face.css"

h1
  font-size: 100px
  line-height: 120%
  text-transform: uppercase
  font-weight: 500

.heading
  &--inline
    margin: 0.15em 0 0

  &--clip
    -webkit-background-clip: text
    background-clip: text
    background-attachment: fixed
    color: transparent