@import "config"
@import "mixins"
@import "colors"
@import "fonts"

.gallery-bottom
  margin-top: 60px

.gallery
  margin-top: 25px
  display: flex
  flex-direction: column
  gap: 30px

  &-item
    text-decoration: none
    color: $black
    transition: opacity 400ms ease-in-out
    opacity: 0

  .row
    display: flex
    transition: opacity 400ms ease-out
    gap: 30px

    &:nth-child(odd)
      .gallery-item:first-child
        transition-delay: 0ms
      .gallery-item:last-child
        transition-delay: 350ms

    &:nth-child(even)
      .gallery-item:first-child
        transition-delay: 0ms
      .gallery-item:last-child
        transition-delay: 350ms
  .image
    position: relative
    overflow: hidden
    border-radius: 10px 10px 10px 0

    &:hover
      img
        transform: scale(1.04)

    img
      display: block
      max-width: 100%
      height: auto
      transition: transform 350ms ease-in-out

    &-title
      position: absolute
      bottom: -4px
      left: 0
      transition: bottom 200ms ease-in-out
      max-width: 470px
      background: $white
      text-transform: uppercase
      padding: 10px 10px 0 0
      border-radius: 0 10px 0 0

.header-service-wrapper
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 123%), url(../images/service/background.jpg) fixed no-repeat top center
  padding-bottom: 62px
  background-size: 100%
  position: relative
  transition: background-size 400ms ease-in-out

  &:after
    content: ''
    position: absolute
    transition: background 400ms ease-in-out
    left: 0
    pointer-events: none
    user-select: none
    right: 0
    top: 0
    bottom: 0
    background: #000

  &.active
    &:after
      background: transparent

  &:hover
    background-size: 103%

  .make-an-enquiry
    margin-top: 30px

  .service-description
    margin-top: 12px

  h1
    font-size: 100px
    max-width: 1120px
    margin-bottom: 20px
    margin-top: 0.5em

.header-service
  transition: min-height 300ms ease-in-out, background 300ms ease-in-out !important
  background: transparent

.gallery-wrapper
  margin-top: 60px

.images-grid
  display: flex
  flex-direction: column
  gap: 5px

  .row
    opacity: 0
    display: flex
    transition: opacity 600ms ease-in-out

    .description
      line-height: 160%
      font-size: 16px
      opacity: .5
      margin-top: 20px

    &:nth-child(odd)
      .column
        border-radius: 10px 0 0 10px

    &:nth-child(even)
      .column
        border-radius: 0 10px 10px 0

    .column
      overflow: hidden
      flex: 1
      display: flex
      flex-direction: column
      justify-content: center

      img
        max-width: 100%
        display: block
        height: auto
        width: 100%
        transition: transform 400ms ease-in-out

.partners
  padding: 110px 0 140px 0
  background: $black

  .container
    opacity: 0
    transition: opacity 500ms ease-in-out

  .partners-slider
    margin-top: 50px
    position: relative

    .swiper-button-lock
      display: none

    .swiper
      &:not(.swiper-backface-hidden)
        max-width: 1170px

        .swiper-slide
          display: flex
          justify-content: center

      img
        max-width: 100%
        height: auto
        display: block
        transition: opacity 200ms ease-in-out

        &:hover
          opacity: .8

    .next
      right: 0

    button
      top: 0
      bottom: 0
      margin: auto 0
      width: 40px
      height: 40px
      position: absolute
      display: grid
      background: transparent
      place-content: center
      border: none
      cursor: pointer

      &:hover
        &:before
          transform: scale(1.08)
          background: transparentize($white, .75)

      &:before
        border-radius: 50%
        background: transparentize($white, .8)
        transition: transform 200ms ease-in-out, background 200ms ease-in-out
        content: ''
        position: absolute
        width: 40px
        height: 40px
        z-index: 1

  .page-title
    color: $white

.animation-delay-1
  animation-delay: 100ms

.animation-delay-2
  animation-delay: 250ms

.animation-delay-3
  animation-delay: 500ms

.animation-opacity
  animation-name: fadeIn
  //opacity: 0
  //visibility: hidden
  animation-fill-mode: forwards
  animation-duration: 700ms
  animation: ease-out
  will-change: transform

.contact-us-service
  transition: opacity 400ms ease-in-out
  opacity: 0
  background: url(../images/service/contact-us.jpg) no-repeat center
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)