@import "config"
@import "mixins"
@import "colors"
@import "fonts"

.header-service-wrapper
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 115.31%), url(../images/service/background.jpg) fixed no-repeat
  padding-bottom: 60px

  .make-an-enquiry
    margin-top: 30px

  .service-description
    margin-top: 12px

  h1
    font-size: 100px
    max-width: 1120px
    margin-bottom: 20px

.header-service
  transition: min-height 300ms ease-in-out, background 300ms ease-in-out !important
  background: transparent

.gallery-wrapper
  margin-top: 60px