@import "normalize.css"
@import "config"
@import "colors"
@import "fonts"
@import "mixins"
@import "services"

*,
*:after,
*:before
  box-sizing: border-box

body,
html
  height: 100%

.button
  cursor: pointer

  &--service
    padding: 18px 50px
    display: inline-flex
    border-radius: 90px
    border: 1px solid $black
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    text-decoration: none
    color: $black
    transition: background 200ms ease-in-out, color 200ms ease-in-out

  &--subtotal
    padding: 15px 15px 15px 20px
    border-radius: 90px
    height: 49px
    margin-top: 10px
    border: 1px solid $black
    text-transform: uppercase
    font-size: 16px
    font-weight: 500
    width: 100%
    display: flex
    align-items: center
    text-decoration: none
    color: $white
    background: $black
    transition: background 200ms ease-in-out, color 200ms ease-in-out

    &:hover
      background: lighten($black, 20%)


    .subtotal-amount
      margin-left: auto
      margin-right: 15px

    span
      color: $white

.border-radius-10
  border-radius: 10px
  overflow: hidden

body
  background: $white
  font-family: 'Geometria', sans-serif

.breadcrumbs
  line-height: 160%
  font-size: 12px
  margin-top: 45px
  display: inline-flex
  flex-wrap: wrap

  &-current
    text-transform: uppercase

  &-divider
    margin-left: 5px
    margin-right: 5px

  &-divider,
  &-link
    color: transparentize($black, .5)

  &-link
    text-decoration: none

.burger
  background: transparent
  border: none
  display: flex
  flex-shrink: 0
  flex-direction: column
  width: 45px
  gap: 8px
  padding: 10px
  cursor: pointer

  &:hover
    span:first-child
      max-width: 15px

    span:last-child
      max-width: 100%

  span
    display: inline-block
    height: 1px
    max-width: 100%
    width: 100%
    background: $white
    transition: max-width $time ease-in-out
    flex-shrink: 0

    &:last-child
      max-width: 10px

.logo
  display: inline-block
  transform: translateY(4px)

  img
    display: block

.header
  .cart-icon
    position: relative

  .cart-count
    position: absolute
    bottom: 2px
    left: 0
    right: 0
    color: $black
    font-size: 15px
    line-height: 100%
    text-align: center

  .cart-item
    display: flex
    border-top: 1px solid transparentize($black, .9)
    align-items: center
    padding-top: 10px
    padding-bottom: 10px

    &:last-child
      border-bottom: 1px solid transparentize($black, .9)

  .cart-image
    margin-right: 15px

    img
      display: block
      @extend .border-radius-10

  .cart-wrapper
    position: relative

  .cart-bottom
    padding: 10px 0

  .cart-product
    max-width: 150px
    font-size: 12px
    text-transform: uppercase
    font-weight: 500
    line-height: 140%

  .cart-actions
    margin-left: auto
    text-align: right

  .cart-price
    font-size: 16px
    font-weight: 500
    line-height: 140%

  .cart-remove
    font-size: 12px
    line-height: 140%
    color: rgba(0, 0, 0, 0.4)
    background: transparent
    padding: 0
    border: none
    cursor: pointer
    text-transform: uppercase

  .cart-amount
    display: flex
    height: 25px
    align-items: center
    margin-left: 10px

    input
      width: 100%
      max-width: 30px
      font-size: 20px
      text-align: center
      border: none
      padding: 0
      outline: none

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
      appearance: none
      margin: 0

    input[type=number]
      appearance: textfield

    button
      flex-shrink: 0
      background: transparent
      border: none
      outline: none
      padding: 0
      width: 20px
      height: 20px
      display: grid
      place-content: center
      cursor: pointer

  .cart-top
    display: flex
    justify-content: space-between
    text-transform: uppercase
    padding-bottom: 18px

    span
      opacity: .5

  .cart-close
    background: transparent
    padding: 0
    outline: none
    cursor: pointer
    border: none

  .cart-content
    opacity: 0
    visibility: hidden
    transition: transform 120ms ease-in-out, opacity 120ms ease-in-out, visibility 120ms ease-in-out
    padding: 35px
    background: $white
    box-shadow: 0 4px 41px rgba(0, 0, 0, 0.07)
    position: absolute
    @extend .border-radius-10
    right: 0
    top: calc(100% + 16px)
    width: 466px
    transform: scale(0.8)
    transform-origin: top right

    &.cart-open
      opacity: 1
      visibility: visible
      transform: scale(1)

.header
  background-color: $black
  min-height: $min-header-height
  padding-left: 50px
  padding-right: 50px
  display: flex
  gap: 70px
  align-items: center
  transition: min-height 300ms ease-in-out

  &.small
    min-height: 78px

  &-contacts
    display: flex
    gap: 50px
    align-items: center

    svg
      display: block

    .right
      display: flex
      gap: 30px
      align-items: center

  .phone
    color: $white
    font-size: 20px
    font-weight: 500
    text-decoration: none
    line-height: 120%
    transition: opacity 200ms ease-in-out

    &:hover
      opacity: .8

  nav
    max-width: 980px
    width: 100%

    ul
      list-style: none
      justify-content: space-between
      display: flex
      align-items: center
      margin: 0
      padding: 0

    a
      color: $white
      text-decoration: none
      font-size: 14px
      line-height: 160%
      text-transform: uppercase
      display: inline-flex
      padding: 15px
      align-items: center
      transition: opacity 200ms ease-in-out
      gap: 7px

      &:hover
        opacity: .8

  &--background
    background-position: center
    background-repeat: no-repeat

  &--swimming
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 100

    & + .rosella-page
      padding-top: 100px

.container
  max-width: $container-width
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: $container-padding
  padding-right: $container-padding

.rosella
  display: flex
  flex-direction: column
  min-height: 100%

  &-inner
    flex: 1 0 auto

.footer
  flex: 0 0 auto
  min-height: 1130px
  background: $black url(../images/footer/background.jpg) no-repeat fixed center
  color: $white
  display: flex
  flex-direction: column
  margin-top: 100px

  .footer-columns
    display: flex
    gap: 55px

    a
      color: inherit
      line-height: 160%
      font-size: 16px
      text-decoration: none
      transition: opacity 200ms ease-in-out, color 200ms ease-in-out

      &.large
        text-transform: uppercase

    .column
      display: flex
      flex-direction: column

      &:first-child
        gap: 30px

        a
          &:hover
            opacity: .8


      &:not(:first-child)
        a:not(.large)
          color: transparentize($white, .5)

          &:not(:last-child)
            margin-bottom: 7px

          &:hover
            color: transparentize($white, .2)

        .large
          margin-bottom: 12px

  &-bottom
    min-height: 112px
    display: flex
    align-items: center
    gap: 70px

  &-menu
    padding: 45px 0
    flex: 1
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  &-address
    font-size: 14px
    line-height: 160%

  &-info
    display: flex
    gap: 30px
    margin-left: auto
    align-items: center

    a
      text-decoration: none
      color: inherit

  .phone
    font-size: 20px
    line-height: 160%
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  &-web
    display: flex
    gap: 20px

    a
      font-size: 14px

  .pages
    padding: 60px 0
    display: flex
    flex-direction: column
    gap: 50px

    .page
      opacity: 0
      transition: opacity 600ms ease-in-out

      &-detail
        a
          color: $white
          font-size: 14px
          text-decoration: none
          transition: opacity 200ms ease-in-out

          &:hover
            opacity: .7

      &-title
        margin-bottom: 6px
        line-height: 160%

      &-text
        color: transparentize($white, .5)
        line-height: 160%
        margin-bottom: 6px
        font-size: 14px