@import "normalize.css"
@import "config"
@import "colors"
@import "fonts"
@import "mixins"
@import "services"
@import "service"
@import "blog"
@import "faq"
@import "cart"

.header-base
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/flowers/header.jpg) fixed

  h1
    padding-bottom: 30px
    margin-bottom: 0

*,
*:after,
*:before
  box-sizing: border-box

body,
html
  height: 100%

.button
  cursor: pointer

  &--white
    padding: 18px 30px
    display: inline-flex
    background: transparent
    border: none
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    text-decoration: none
    color: $black
    position: relative
    transition: color 200ms ease-in-out

    span
      position: relative
      z-index: 2

    &:before
      border-radius: 90px
      content: ''
      position: absolute
      background: $white
      left: 0
      right: 0
      top: 0
      transition: background 200ms ease-in-out, color 200ms ease-in-out, transform 200ms ease-in-out
      bottom: 0

    &:hover
      &:before
        transform: scale(1.04)

  &--submit
    padding: 18px 50px
    display: inline-flex
    border-radius: 90px
    background: transparent
    border: 1px solid $white
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    text-decoration: none
    color: $white
    transition: background 200ms ease-in-out, color 200ms ease-in-out

    &:focus
      background: $white
      color: $black

    &:hover
      background: $white
      color: $black

  &--clear
    padding: 18px 50px
    display: inline-flex
    border-radius: 90px
    background: transparent
    border: 1px solid $black
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    text-decoration: none
    color: $black
    transition: background 200ms ease-in-out, color 200ms ease-in-out

    &:focus
      background: $black
      color: $white

    &:hover
      background: $black
      color: $white

  &--service
    padding: 18px 50px
    display: inline-flex
    border-radius: 90px
    border: 1px solid $black
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    text-decoration: none
    color: $black
    transition: background 200ms ease-in-out, color 200ms ease-in-out

  &--subtotal
    padding: 15px 15px 15px 20px
    border-radius: 90px
    height: 49px
    margin-top: 25px
    border: 1px solid $black
    text-transform: uppercase
    font-size: 16px
    font-weight: 500
    width: 100%
    display: flex
    align-items: center
    text-decoration: none
    color: $white
    background: $black
    transition: background 200ms ease-in-out, color 200ms ease-in-out

    svg
      transition: transform 200ms ease-in-out

    &:hover
      background: lighten($black, 14%)

      svg
        transform: translateX(6px)

    .subtotal-amount
      margin-left: auto
      margin-right: 15px

    span
      color: $white

.border-radius-10
  border-radius: 10px
  overflow: hidden

body
  background: $white
  font-family: 'Geometria', sans-serif

.text-page
  padding-top: 60px
  line-height: 160%

  .container
    > *:first-child
      margin-top: 0 !important

  *:not(h2) + blockquote
    margin-top: 60px

  blockquote:last-of-type
    margin-top: 30px !important

  h2
    margin-top: 55px
    margin-bottom: .6em

  ul
    line-height: 160%
    margin-top: 1.6em
    padding-left: 1em

.breadcrumbs
  line-height: 160%
  font-size: 12px
  display: inline-flex
  flex-wrap: wrap

  &--long
    margin-top: 45px

  &--page
    margin-top: 35px

  &-divider
    margin-left: 5px
    margin-right: 5px

  &-divider,
  &-link
    color: inherit
    opacity: .5

  &-link
    text-decoration: none

.burger
  background: transparent
  border: none
  display: flex
  flex-shrink: 0
  flex-direction: column
  width: 45px
  gap: 8px
  padding: 10px
  cursor: pointer

  &:hover
    span:first-child
      max-width: 15px

    span:last-child
      max-width: 100%

  span
    display: inline-block
    height: 1px
    max-width: 100%
    width: 100%
    background: $white
    transition: max-width $time ease-in-out
    flex-shrink: 0

    &:last-child
      max-width: 10px

.logo
  display: inline-block
  transform: translateY(4px)

  img
    display: block

.page-title
  font-size: 40px
  line-height: 160%
  text-transform: uppercase

blockquote
  opacity: .5
  margin: 0
  line-height: 160%
  font-size: 16px
  padding: 0

.header
  &--blur
    background: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(10px)

  &--border
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  .cart-icon
    position: relative

  .cart-count
    position: absolute
    bottom: 2px
    left: 0
    right: 0
    color: $black
    font-size: 15px
    line-height: 100%
    text-align: center

  .cart-item
    display: flex
    border-top: 1px solid transparentize($black, .9)
    align-items: center
    padding-top: 10px
    padding-bottom: 10px

    &:last-child
      border-bottom: 1px solid transparentize($black, .9)

  .cart-image
    margin-right: 15px

    img
      display: block
      @extend .border-radius-10

  .cart-wrapper
    position: relative

  .cart-bottom
    //

  .cart-product
    max-width: 150px
    font-size: 12px
    text-transform: uppercase
    font-weight: 500
    line-height: 140%

    a
      text-decoration: none
      color: $black
      transition: color 200ms ease-in-out

      &:hover
        color: transparentize($black, .33)

  .cart-actions
    margin-left: auto
    text-align: right

  .cart-price
    font-size: 16px
    font-weight: 500
    line-height: 140%

  .cart-remove
    font-size: 12px
    line-height: 140%
    color: rgba(0, 0, 0, 0.4)
    background: transparent
    padding: 0
    border: none
    cursor: pointer
    text-transform: uppercase
    transition: color 200ms ease-in-out

    &:hover
      color: rgba(0, 0, 0, 0.75)

  .cart-amount
    display: flex
    height: 25px
    align-items: center
    margin-left: 10px

    input
      width: 100%
      max-width: 30px
      font-size: 20px
      text-align: center
      border: none
      padding: 0
      outline: none

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
      appearance: none
      margin: 0

    input[type=number]
      appearance: textfield

    button
      flex-shrink: 0
      background: transparent
      border: none
      outline: none
      padding: 0
      width: 25px
      height: 25px
      display: grid
      place-content: center
      cursor: pointer

      path
        transition: fill-opacity 200ms ease-in-out

      &:hover
        path
          fill-opacity: .8

  .cart-top
    display: flex
    justify-content: space-between
    text-transform: uppercase
    margin-bottom: 25px

    span
      opacity: .5

  .cart-close
    background: transparent
    padding: 0
    outline: none
    cursor: pointer
    border: none

  .cart-content
    opacity: 0
    visibility: hidden
    min-height: 135px
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out, visibility 100ms ease-in-out
    padding: 35px
    background: $white
    box-shadow: 0 4px 41px rgba(0, 0, 0, 0.07)
    position: absolute
    @extend .border-radius-10
    right: 0
    top: calc(100% + 16px)
    width: 466px
    transform: scale(0.8)
    transform-origin: top right

    &.cart-open
      opacity: 1
      visibility: visible
      transform: scale(1)

.h1-block
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between

.header-top
  padding-top: 100px
  color: $white

.header
  min-height: $min-header-height
  padding-left: 50px
  padding-right: 50px
  justify-content: center
  display: flex
  gap: 70px
  align-items: center
  transition: min-height 300ms ease-in-out

  &.small
    min-height: 80px

  &-contacts
    display: flex
    gap: 50px
    align-items: center

    svg
      display: block

    .right
      display: flex
      gap: 30px
      align-items: center

    a
      svg
        transition: opacity 200ms ease-in-out

      &:hover
        svg
          opacity: .9

  .phone
    color: $white
    font-size: 20px
    font-weight: 500
    text-decoration: none
    line-height: 120%
    transition: opacity 200ms ease-in-out

    &:hover
      opacity: .8

  nav
    max-width: 980px
    width: 100%

    ul
      list-style: none
      justify-content: space-between
      display: flex
      align-items: center
      margin: 0
      padding: 0

    a
      color: $white
      text-decoration: none
      font-size: 14px
      line-height: 160%
      text-transform: uppercase
      display: inline-flex
      padding: 15px
      align-items: center
      transition: opacity 200ms ease-in-out
      gap: 7px

      &:hover
        opacity: .8

  &--background
    background-position: center
    background-repeat: no-repeat

  &--swimming
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 100

    & + .rosella-page
      padding-top: 100px

.container
  max-width: $container-width
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: $container-padding
  padding-right: $container-padding

.rosella
  display: flex
  flex-direction: column
  min-height: 100%

  &-inner
    flex: 1 0 auto

.form
  display: flex
  gap: 20px
  flex-direction: column

  .row
    display: flex
    gap: 20px

  .column
    flex: 1

  textarea
    resize: none
    min-height: 170px
    padding: 22px 30px
    border-radius: 10px

  input,
  textarea
    background: transparent
    color: $white
    border: 1px solid rgba(255, 255, 255, 0.2)
    outline: none
    width: 100%
    transition: border-color 200ms ease-in-out

    &:focus
      border-color: rgba(255, 255, 255, 0.6)

    &::placeholder
      color: transparentize($white, .4)

  input
    min-height: 60px
    padding: 10px 30px
    border-radius: 50px

.container-left
  padding-left: $container-padding

  @include respond($container-width-wo-padding + 45px)
    padding-right: 70px
    margin-left: calc(100% - (($container-width-wo-padding + 30px) / 2))

.container-right
  padding-left: $container-padding

  @include respond($container-width-wo-padding + 15px)
    padding-left: 70px
    margin-right: calc(100% - ($container-width-wo-padding / 2))

.contact-us
  display: flex
  max-width: 910px
  margin: 0 auto
  justify-content: center
  padding: 100px 0

  .send-form
    margin-top: 40px
    text-align: center

  .form
    margin-top: 30px
    margin-bottom: 40px

  .large-title
    text-align: center


.contact--flowers
  background: $black url(../images/contact-us/background.jpg) no-repeat fixed center

.footer
  flex: 0 0 auto
  background-color: $black

  &--fixed
    background-attachment: fixed !important

  &--flowers
    background: $black url(../images/footer/background.jpg) no-repeat bottom center

  color: $white
  display: flex
  flex-direction: column
  margin-top: 100px

  .footer-columns
    display: flex
    gap: 55px

    a
      color: inherit
      line-height: 160%
      font-size: 16px
      text-decoration: none
      transition: opacity 200ms ease-in-out, color 200ms ease-in-out

      &.large
        text-transform: uppercase

    .column
      display: flex
      flex-direction: column

      &:first-child
        gap: 30px

        a
          &:hover
            opacity: .65


      &:not(:first-child)
        a:not(.large)
          color: transparentize($white, .5)

          &:not(:last-child)
            margin-bottom: 7px

          &:hover
            color: transparentize($white, .2)

        a.large
          &:hover
            color: transparentize($white, .35)


        .large
          margin-bottom: 12px

  &-bottom
    min-height: 112px
    display: flex
    align-items: center
    gap: 70px

  &-menu
    padding: 50px 0
    flex: 1
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)

  &-address
    font-size: 14px
    line-height: 160%

  &-info
    display: flex
    gap: 30px
    margin-left: auto
    align-items: center

    a
      text-decoration: none
      color: inherit

  .phone
    font-size: 20px
    line-height: 160%
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    transition: opacity 200ms ease-in-out

    &:hover
      opacity: .8

  &-web
    display: flex
    gap: 20px

    a
      transition: opacity 200ms ease-in-out
      font-size: 14px

      &:hover
        opacity: .8

  .seo-pages
    padding: 60px 0
    display: flex
    flex-direction: column
    gap: 50px

    .seo-page
      opacity: 0
      transition: opacity 600ms ease-in-out

      .detail
        a
          color: $white
          font-size: 14px
          text-decoration: none
          transition: opacity 200ms ease-in-out

          &:hover
            opacity: .7

      .title
        margin-bottom: 6px
        line-height: 160%

      .text
        color: transparentize($white, .5)
        line-height: 160%
        margin-bottom: 6px
        font-size: 14px